## Visual Studio / .NET ignores
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa]rms/
[Aa]rm64/
build/
.vs/
.vscode/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

# Build results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.visualstate

# Publish output & temporary compiler outputs
publish/
output.exe
output.asm
output.il
test_out/

# Windows thumbnail cache & temporary files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.tmp
*.temp
*.log
